
.div_tree {
    background-color: #f9f9f9;
    max-height: 70vh;
}

.dataTables_info {
    padding-left: 20px;
    padding-bottom: 5px;
    color: #6c757d !important;
}

.dataTables_filter {
    padding-right: 10px;
}

.content-header {
    height: 50px;
    border-top: 1px solid rgba(0, 0, 0, .1);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1) !important;
    background-color: #fff !important;
    padding: 10px 0 50px 10px;
    margin-bottom: 30px;
}

.navbar-badge {
    right: 0;
    top: 2px;
    font-size: .6rem !important;
    font-weight: 300;
}

h1 > small {
    color:gray;
}

.thead-default th {
    color: #464a4c;
    background-color: #eceeef;
}


.split, .gutter.gutter-horizontal {
    float: left;
}
.gutter.gutter-horizontal {
    cursor: ew-resize;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
}

.gutter.gutter-vertical {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');
}

.gutter {
    margin-left:20px;
    background-color: #5d6166;
    background-repeat: no-repeat;
    background-position: 50%;
}

.card-animate:hover{
    -webkit-box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
    box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
}

.tr-animate:hover{
    -webkit-box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
    box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
}

.a-animate:hover{
    -webkit-box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
    box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
}

.info-box-animate:hover{
    -webkit-box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
    box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
}

.user-animate:hover{
    -webkit-box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
    box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);

}

.border_btm_success
{
    border-bottom: solid 1px #28a745;
}
.border_btm_warning
{
    border-bottom: solid 1px #ffc107;
}

.users-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.users-list .user {
    background: #fff;
    border: 1px solid #e0e0e0;
    color: gray();
    min-width: 170px;
    min-height: 100px;
    margin:2px;
    display: flex;
    flex-direction: column;
}

.users-list .user img
{
    margin:auto;
}

.users-list .user span
{
    text-align:center;
    padding: 0 5px 0 5px;
    background-color:#f7f7f7;
}

.flat {
    box-shadow: 0 0 0 0 !important;
    border: 0px !important;
}

.flat-shadow {
    box-shadow: 0 4px 14px 0 rgba(0, 0, 0, .1);
    border: 0px !important;
}

.form-group .createTip {
    right: -330px;
}

.createTip {
    visibility: hidden;
    z-index: 1;
    position: absolute;
    right: -330px;
    width: 330px;
    padding: 20px 30px 30px;
    padding-top: 20px;
    border-radius: 2px;
    font-size: 15px;
    line-height: 20px;
    color: #fff;
    opacity: 0;
    background: #343a40;
    box-shadow: 0 4px 14px 0 rgba(0, 0, 0, .1);
    transition: opacity .15s ease .15s;
}



.js-createTip-wrapper:hover .createTip {
    visibility: visible;
    opacity: 1;
}

.createTip:after {
    content: "";
    z-index: 1;
    position: absolute;
    top: 14px;
    left: -20px;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-right: 20px solid #343a40;
    border-bottom: 20px solid transparent
}


.createTip__number {
    width: 50px;
    margin: 0 auto;
    border: 4px solid;
    border-radius: 50em;
    font-size: 22px;
    font-weight: 700;
    line-height: 42px;
    text-align: center;
}

.createTip__title {
    margin-bottom: 16px;
    font-weight: 600;
    color: var(--blue);
}

.createTip ul {
    margin-top: 30px;
    padding-left: 36px
}

.createTip ul li {
    list-style-type: disc
}

.form-group .createTip {
    right: -330px
}

.createTip>p:last-child {
    margin-bottom: 0
}

.subTitleForm {
    margin: 12px 0 24px;
    margin-top: 12px;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2;
    color: #343a40;
}